@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
$black: #1d1916;
$grey1: #313131;
$grey2: #484848;
$white: #fff;
.App {
  background-color: $black;
}
* {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 420px) {
  .input-field {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }
  .editShowForms {
    display: flex;
    justify-content: space-between;
  }
  .SigninFormContainer {
    height: 100vh;

    background-color: $black;
  }
  .Editshows {
    min-height: 100vh;
    color: white;
    background-color: $black;
  }
  input {
    width: 40vw;
  }

  .showHeader {
    text-align: center;
    margin-block-end: 0;
    color: white;
  }
  .editShowForms {
    margin-bottom: 40px;
  }

  .SigninForm {
    color: $white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: $black;
    overflow: hidden;
  }
  .header {
    width: 100vw;
    display: flex;
    align-items: center;

    height: 110vh;
    flex-direction: column;
    background-color: $black;
  }
  .headerIcon {
    width: 50%;
    margin-top: 30vh;
  }
  .swipeicon {
    width: 15%;
    margin-top: 30vh;
  }

  .Yo {
    height: 100vh;
    background-color: green;
  }
  h1 {
    color: $white;
    text-transform: uppercase;
  }
  .title {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
  }
  .line {
    background-color: white;
    height: 2px;
    width: 40vw;
    margin-top: -2vh;
  }
  .italic {
    font-size: 1.2em;
  }
  .followUs {
    font-size: 1.2em;
  }
  //Shows
  .shows {
    clip-path: polygon(0 6%, 100% 0, 100% calc(100% - 10vw), 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey1;
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin-bottom: -10vw;
    margin-top: -10vw;
  }
  .show {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1vh 0 1vh 0;
  }
  .leftSide {
    width: 20vw;
    text-align: center;
    padding-right: 5vw;
  }
  .day {
    font-weight: bold;
    font-size: 2em;
  }
  .month {
    font-size: 2em;
  }
  .rightSide {
    width: 60vw;
    font-size: 1.3em;
  }

  //Band
  .band {
    background-color: $black;
    padding: 10vh 0;
  }
  .groupPhoto {
    width: 100vw;
    margin-bottom: 5vh;
  }
  .card {
    background-color: $white;
    width: 45vw !important;
    margin: 0 3vw;
    background-color: $black;
    border-collapse: separate;
  }
  .cardImageBox {
    height: 15vh;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  .cardImage {
    width: 100%;

    max-width: none;
    object-fit: contain;
    object-position: center top;
  }
  .dots {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .BandSliderText {
    display: flex;
    text-align: center;
    flex-direction: column;

    background-color: $white;
    height: 22vh;
    min-height: 165px;
    border-radius: 0 0 10px 10px;
  }
  .instrument {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    min-height: 23px;
  }
  .name {
    font-weight: bold;
    font-size: 1.1em;
    min-height: 20px;
  }
  .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 1vh;
  }
  .slick-dots ul {
    padding-inline-start: 0px;
  }

  .slick-dots li button:before {
    color: $white;
    opacity: 50%;
    font-size: 9px;
  }
  .slick-dots li.slick-active button:before {
    color: $white;
    opacity: 100%;
    font-size: 9px;
  }
  //social
  .social {
    margin-top: -6vh;
    clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0 calc(100% - 6vw));
    background-color: $grey1;
    color: $white;
    text-align: center;
    height: 40vh;
    min-height: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialImages {
    display: flex;
    justify-content: center;
  }
  .socialImage {
    margin: 3vw;
    height: 27vw;
    width: calc(100%-27vw);
  }
  .bookings {
    background-color: $black;
    margin-top: -4vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: $white;
    height: 34vh;
    min-height: 230px;
  }
  .bookingText {
    text-align: center;
    font-size: 1.3em;
    padding: 1vh 10vw 2vh 10vw;
  }
  .bookingsDetails {
    padding: 0 10vw;
    font-size: 1em;
  }
}
@media only screen and (min-width: 420px) {
  .swipeicon {
    display: none;
  }
  .header {
    width: 100vw;

    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .headerIcon {
    width: 45vw;
    padding-top: 5vw;
  }

  .showsAndSocialBox {
    color: $white;
    width: 100vw;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shows {
    background-color: $grey1;
    clip-path: polygon(0 2%, 94% 5%, 90% calc(100% - 3vw), 0 100%);
    width: 50vw;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
  }

  .show {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1vh 0 1vh 0;
  }
  .leftSide {
    text-align: center;
    padding-right: 5vw;
    padding-left: 2vw;
  }
  .day {
    font-weight: bold;
    font-size: 2em;
    margin-top: -1vh;
  }
  .month {
    font-size: 2em;
  }
  .title {
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .line {
    background-color: white;
    height: 2px;
    width: 15vw;
  }
  .rightSide {
    font-size: 1.2em;
  }
  h1 {
    margin-block-end: 0;
  }
  .socialImage {
    width: 10vw;
    padding: 2vh;
  }
  .social {
    clip-path: polygon(0 5%, 100% 0, 100% calc(100% - 3vw), 0 95%);
    background-color: $grey2;
    width: 50vw;
    display: flex;
    padding: 5vh 0;
    text-align: center;
    justify-content: center;
  }
  .band {
    background-color: $black;
    color: $white;
    padding: 5vh 0 15vh 0;
    margin-top: -1px;
  }
  .groupPhoto {
    width: 50vw;
  }
  .groupPhotoBox {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .bandCard {
    width: 85vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cardImage {
    width: 100%;
  }
  .card {
    width: 25vw;
    color: $black;
    background-color: $black;
    margin: 1vw;
    text-align: center;
  }
  .cardImage {
    width: 100%;
    max-width: none;
    object-fit: cover;
    object-position: 60% 50%;
  }
  .cardImageBox {
    height: 15vh;
    min-height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  .instrument {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
    padding-top: 5px;
  }
  .name {
    font-weight: bold;
    font-size: 1.2em;
    min-height: 20px;
  }
  .bio {
    padding: 10px;
    height: 10vh;
    vertical-align: middle;
    min-height: 100px;
  }
  .BandSliderText {
    border-radius: 0 0 15px 15px;
    background-color: $white;
  }
  .bookings {
    background-color: $grey2;
    color: $white;
    display: flex;
    padding: 10vh 0;
    margin-top: -11vh;
    margin-bottom: -11vh;
    clip-path: polygon(0% 0%, 100% 19%, 100% 100%, 0 calc(100% - 5vw));
    justify-content: center;
  }
  .bookingText {
    text-align: center;
    padding-top: 1vh;
    font-size: 1.5em;
  }
  .box {
    height: 5vh;
    min-height: 100px;
    background-color: $black;
  }

  .socialImage {
    width: 5vw;
  }
  .italic {
    font-size: 1.5em;
  }
  .followUs {
    font-size: 1.2em;
  }
  .SigninFormContainer {
    min-height: 100vh;
    background-color: $black;
    color: $white;
  }
  input {
    font-size: 0.6em;
  }
  .input-field {
    display: flex;
    font-size: 1.6em;
    justify-content: space-between;
    padding: 1% 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .headerIcon {
    width: 25vw;
  }
  .showsAndSocialBox {
    justify-content: space-between;
  }
  .shows {
    width: auto;
    padding: 7vh;
  }
  .band {
    margin-top: -15vh;
  }
  .leftSide {
    text-align: center;
    padding-right: 1vw;
    padding-left: 1vw;
  }
  .bandCard {
    padding-bottom: 5vh;
  }
  .bio {
    padding: 9px;
  }
  .card {
    width: 240px;
  }
  .social {
    width: auto;
    font-size: auto;
    padding: 7vh;
  }
  .rightSide {
    font-size: 1.5em;
  }
  .day {
    margin-top: 0;
  }
  .bookings {
    padding: 0;
    margin-top: -1px;
    margin-bottom: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    background-color: $black;
  }
  .bookingBox {
    background-color: $grey2;
    padding: 10px;
    margin: 0px 0px 0 -1px;
  }
  .bookingLeft {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0 100%);
    background-color: $grey2;
    width: 10vw;
  }
  .bookingRight {
    background-color: $grey2;
    width: 10vw;
    clip-path: polygon(100% 100%, 100% 100%, 0% 0%, 0 100%);
  }
  .showsAndSocialBox {
    margin-top: -12vh;
  }
  .box {
    display: none;
  }
  .SigninForm {
    width: 420px;
    margin: 0 auto;
  }
}
.italic {
  font-style: italic;
  margin-top: 1vh;
}
h1 {
  text-transform: uppercase;
  margin-block-start: 0;
}
.AdminTools {
  position: fixed;
  background-color: $grey2;
  width: 100vw;
  color: white;
  height: 20px;
  opacity: 50%;
  z-index: 50;
  display: flex;
  box-shadow: 3px 3px 5px black;
  justify-content: space-around;
}
button {
  background-color: $grey2;
  color: white;
  border: 0;
}
.noscroll {
  overflow: hidden;
}
.btn-full {
  width: 100vw;
  margin-bottom: 3vh;
  height: 30px;
}
.btn-2 {
  width: 150px;
  height: 70px;
  font-size: 0.7em;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: $grey2;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editShowContainer {
  padding: 0 30px;
}
