@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
$black: #1d1916;
$grey1: #313131;
$white: #fff;

* {
  overflow-x: hidden;
}
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 110vh;
  flex-direction: column;
  background-color: $black;
}
.headerIcon {
  width: 50%;
  margin-top: 30vh;
}
.swipeicon {
  width: 15%;
  margin-top: 30vh;
}

.Yo {
  height: 100vh;
  background-color: green;
}
h1 {
  color: $white;
  text-transform: uppercase;
}
.title {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.line {
  background-color: white;
  height: 2px;
  width: 40vw;
  margin-top: -2vh;
}

//Shows
.shows {
  clip-path: polygon(0 6%, 100% 0, 100% calc(100% - 10vw), 0 100%);
  min-height: 30vh;
  background-color: $grey1;
  padding-bottom: 10vw;
  margin-bottom: -10vw;
  margin-top: -10vw;
}
.show {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1vh 0 1vh 0;
}
.leftSide {
  width: 20vw;
  text-align: center;
  font-size: 9vw;
  padding-right: 5vw;
}
.day {
  font-weight: bold;
}
.month {
  font-size: 8vw;
}
.rightSide {
  width: 60vw;
  font-size: 5.5vw;
}

//Band
.band {
  background-color: $black;
  padding-top: 10vw;
  height: 90vh;
  min-height: 770px;
}
.groupPhoto {
  width: 100vw;
  margin-bottom: 5vh;
}
.card {
  background-color: $white;
  width: 45vw !important;
  margin: 0 3vw;
  background-color: $black;
  border-collapse: separate;
}
.cardImageBox {
  height: 15vh;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.cardImage {
  width: 100%;

  max-width: none;
  object-fit: cover;
  object-position: 50% 50%;
}
.dots {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BandSliderText {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: $white;
  height: 20vh;
  min-height: 165px;
  border-radius: 0 0 10px 10px;
}
.instrument {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vh;
  min-height: 23px;
}
.name {
  font-weight: bold;
  font-size: 2.5vh;
  min-height: 20px;
}
.slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 1vh;
}
.slick-dots ul {
  padding-inline-start: 0px;
}

.slick-dots li button:before {
  color: $white;
  opacity: 50%;
  font-size: 9px;
}
.slick-dots li.slick-active button:before {
  color: $white;
  opacity: 100%;
  font-size: 9px;
}
//social
.social {
  margin-top: -6vh;
  clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0 calc(100% - 6vw));
  background-color: $grey1;
  color: $white;
  text-align: center;
  font-size: 6vw;
  height: 40vh;
  min-height: 357px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.italic {
  font-style: italic;
  margin-top: 1vh;
}
.socialImages {
  display: flex;
  justify-content: center;
}
.socialImage {
  margin: 3vw;
  height: 27vw;
  width: calc(100%-27vw);
}
.bookings {
  background-color: $black;
  margin-top: -4vh;
  padding-top: 4vh;
  color: $white;
  height: 34vh;
  min-height: 230px;
}
.bookingText {
  text-align: center;
  font-size: 3vh;
  padding: 1vh 10vw 2vh 10vw;
}
.bookingsDetails {
  padding: 0 10vw;
  font-size: 2.5vh;
}
